#events{
  color : rgb(36,103,141);
}
#jobs{
  color : rgb(36,103,141);
}
#updates{
  color : rgb(36,103,141);
}
p{
  text-align: center;
}
a{
  text-align: center;
  text-decoration: none;
  color : rgb(36,103,141);
}